<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Mikkel Malmberg</string>
	<key>Builder Version</key>
	<string>12604.1.27.0.1</string>
	<key>CFBundleDisplayName</key>
	<string>joof</string>
	<key>CFBundleIdentifier</key>
	<string>com.brnbw.joof</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>joof.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://*/*</string>
			<string>https://*/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Add customer scripts and styles to any webpage</string>
	<key>DeveloperIdentifier</key>
	<string>DDB8SQMXS9</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/mikker/joof</string>
</dict>
</plist>
